:root{
    --main-pink: #ff4680;
    --light-pink: #fc9fc7;
    --main-gray: #fdeaf3;

}

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
 }

/* GLOBAL HEADER*/
#global-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    nav{
        ul{
            padding: 0;
            margin: 0;

            li{
                list-style: none;
                display: inline-block;
            }
        }
    }
}

#mainlogo{
     font-size: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    color: #ff4680;
    text-decoration: none;
}

a{ 
    color: #000;
    text-decoration: none;
}

/*HERO-sekstion*/

.deal-section{
    background-image: url(https://picsum.photos/id/237/1200/500);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-color:var(--main-gray);
    padding: 1rem;
    position: relative;
    height:50vh;
    min-height: 200px;

    /*
    img{
      
        width: 100%;
    }

    h2, p, a{
        position:absolute;
    }

    p{
        top: 130px;
    }

    a{
        top: 190px;
        left: 15px;
    }
*/

}

/*  ============HOVEDINNHOLD============  */

main{
    max-width: 1200px;
    width: 100%;
    margin: 1rem auto;

    section{
        h2{
            text-align: center;
        }

        article{
            margin: 0 auto;
        }
    }
}

article{
    margin: 1rem 0 3rem;
    color: #ff4680;
    border:1px solid #afafaf;
    max-width: 400px; 
    width: 100%;
    min-width: 250px;
    padding: 1rem;

    img{
        width: 100%; 
    }
}

p{
    color: #fc9fc7
}

h2{
    color: #ff4680
}

.btn{
    display: inline-block;
    background-color: #ff4680;
    color: #fff;
    padding: 1rem; 
    border: none;
}

.side-container{
    background-color: var(--main-gray);
    padding: 1rem;

    form{

        input{
            display: block;
            padding: 0.5rem;
            margin: 0.4rem 0;
        }
    }
}

.age-check{
    display: flex;
    align-items: center;

}

footer{
    background-color: #ff4680;
    color: #fdeaf3;
    padding: 1rem;
    min-height: 150px;
}